form {
  margin: auto auto auto auto;
  /*border: solid black 1px;*/
  border-radius: 2em;
  padding: 4em;
  overflow: hidden;
  width: 30em;
  box-shadow: 0.3em 0.3em 0.3em 0em lightgray;
  background-color: #fccf17;
}

@media only screen and (max-width: 500px) {
  form {
    width: fit-content;
  }
}
